gunicorn
django >= 2.0
djangorestframework >= 3.0
rules==1.3
django-debug-toolbar
jinja2
pytest
psycopg2==2.7.1
pytest-django
pytest-coverage
git+http://github.com/fabiommendes/django-boogie.git/
git+http://github.com/fabiommendes/hyperpython.git/
