<!DOCTYPE html>
<html>
    <head>
        <title>Micropad</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/unpoly.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/unpoly.js"></script>
        <script src="/static/js/node_modules/monaco-editor/min/vs/loader.js"></script>
        <script src="monaco-editor/min/vs/loader.js"></script>
        <script src="/static/js/main.js"></script>
    </head>

    <body>
        <header>
            <a id="logo" href="/"><h3>MSPad - Pluto</h3></a>
            <ul id="nav">
                {% if archive %}
                    {% if not archive.lock %}
                        <li><a class="Button" href="{{archive.url}}/lock"><img height=20 width=20 src="https://image.flaticon.com/icons/svg/26/26053.svg"></img></a></li>
                    {% else %}
                        <li><a class="Button" href="{{archive.url}}/unlock"><img height=20 width=20 src="https://image.flaticon.com/icons/svg/158/158599.svg"></img></a></li>
                    {% endif %}
                {% endif %}
                <li><a class="Button" href="/profile"><img height=20 width=20 src="https://image.flaticon.com/icons/svg/118/118781.svg"></img></a></li>
            </ul>
        </header>
        {% block content %}
            <div id="container"></div>
        {% endblock %}
    </body>
<body>

</body>
</html>