<!DOCTYPE html>
<html>
    <head>
        <title>Micropad</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/unpoly.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/unpoly.js"></script>
        <script src="/static/js/node_modules/monaco-editor/min/vs/loader.js"></script>
        <script src="monaco-editor/min/vs/loader.js"></script>
        <script src="/static/js/main.js"></script>
    </head>

    <body>
        <header>
            <a href="/"><h1>MSPad - Plutão já foi Planeta </h1></a>
            <a class="Button" href="/profile"><img height=50 width=50 src="https://image.flaticon.com/icons/svg/118/118781.svg"></img></a>
            <a class="Button" href="/lock">lock page</a>
        </header>
        {% block content %}
        {% endblock %}
    </body>
<body>
{% block body %}
    <div id="container"></div>
{% endblock %}

<script src="/static/node_modules/monaco-editor/dev/vs/loader.js"></script>
<script>
    let language = 'javascript'
    let url = window.location.href
    let extension = url.split(".")
    extension = extension[extension.length - 1]

    languageMap = {
        js: 'javascript',
        css: 'css',
        coffee: 'coffescript',
        py: 'python',
        json: 'json',
        html: 'html',
        c: 'c',
        rb: 'ruby',
    }

    var code = ('{{ archive.text }}')
    require.config({ paths: { 'vs': '/static/node_modules/monaco-editor/min/vs' } });
    require(['vs/editor/editor.main'], function () {
        var editor = monaco.editor.create(document.getElementById('container'), {
            value: code,
            language: languageMap[extension],
        });
    });
// </script>
</body>
</html>