{% extends 'base.html' %}

{% block body %}
    {{ super() }}
    <script src="/static/node_modules/monaco-editor/dev/vs/loader.js"></script>
    <script>
    let language = 'javascript'
    let url = window.location.href
    let extension = url.split(".")
    extension = extension[extension.length - 1]

    languageMap = {
        js: 'javascript',
        css: 'css',
        coffee: 'coffescript',
        py: 'python',
        json: 'json',
        html: 'html',
        c: 'c',
        rb: 'ruby',
    }

    var code = ('{{ archive.text }}')
    require.config({ paths: { 'vs': '/static/node_modules/monaco-editor/min/vs' } });
    require(['vs/editor/editor.main'], function () {
        var editor = monaco.editor.create(document.getElementById('container'), {
            value: code,
            language: languageMap[extension],
        });
    });
    </script>
{% endblock %}