body {
    font-family: monospace;
    font-size: 1.3em;
}

#container {
    width: 98vw;
    height: 51vw;
}
a:visited {
    color: #222945;
}

#logo {

}
a{
    text-decoration: none;
}
header{
    text-decoration: none;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 3px -1px 10px 0px rgba(0, 0, 0, 0.5);
    background:white;
    
}
#nav{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
}

#nav > li{
    margin-right: 25px;
}

#Home-introduction {
    text-align: center;
    margin-top: 5%;
}

#Home-title{
    font-size: 5em;
}

#Home-list {
    list-style-type: none;
    text-align: left;
    font-size: 1.1em;
}

#Home-list li {
    margin: 2vh 0px 0px 0px;
}
#Home-container {
    margin: 5% auto;
    width: 70%;
}